@import "base";



.navbar-footer-wrap {
  @include navbar-theme();
  @include box-shadow(0 -2px 4px rgba(0,0,0,.25));
  @include border-radius(0);
}

.navbar-footer {
  color: $text-color-light;

  .col-center {
    min-height: 1px;
  }

  .col-center span,
  div > a {
    color: white;
    display: block;
    padding: 15px 0 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
  }

  .caret {
    border-top: 0;
    border-bottom: 4px solid;
  }

  .btn {
    margin: 10px 0;
  }

  .dropdown-menu {
    bottom: 90%;
    left: auto;
    top: auto;
  }

  .dropdown-menu {

    &:after,
    &:before {
      top: 100%;
      left: 25%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #fff;
      border-width: 5px;
      margin-left: -5px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: #ccc;
      border-width: 6px;
      margin-left: -6px;
    }
  }
}
