@import "base";

.container-task-area {
  .panel-body {
    padding: $static-space;
  }
}

// ----------------------------------------------------------------------------------------------------
// GRID
// ----------------------------------------------------------------------------------------------------
#body-add-item,
#body-adjust-order,
#body-update-item {
  .item-details,
  .item-input {
    @extend %grid-12-of-24;
  }
}


// ----------------------------------------------------------------------------------------------------
// GENERAL
// ----------------------------------------------------------------------------------------------------

.item-input {
  // one of two columns; used in screens where the number pad is displayed on the right side of .panel-body
  [class*="item-"] {
    @include overflow-fix;
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }
  }
}



.panel-body-auth {
  @include panel-action-area-align-vert(474px);
}

.panel-body-credit-card-info {
  @include panel-action-area-align-vert(585px);

  .inner {
    @include inner-width-reduced(295px);
  }
}



// ----------------------------------------------------------------------------------------------------
// VIEW: Adjustments
// ----------------------------------------------------------------------------------------------------
.item-adjust label .input-label {
  width: 90%;
}

.item-to-adjust {
  margin: $vert-space 0;
}




// ----------------------------------------------------------------------------------------------------
// VIEW: PAYMENTS
// ----------------------------------------------------------------------------------------------------




// ----------------------------------------------------------------------------------------------------
// VIEW: RETURNS
// ----------------------------------------------------------------------------------------------------




